<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>

<body>
<h3>Daily Summary</h3>
<div style="float:left;">
<h4>Average:{{ ave }}</h4>
<h4>Max: {{ max }}</h4>
<h4>Min: {{ min }}</h4>
</div>

<div id="container" style="min-width: 310px; height: 350px; margin: 0 auto; max-width: 700px;">original view</div>


</body>
</html>

<script>
  var testData = {{ one_set }};
  var deviceId = {{ deviceId }};
</script>
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/summary.js" %}"></script>