<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script>
    function dateSelected(date) {
      // redirect to the new date.
      // NOTE: we can change it to use ajax to improve user experience
      window.location = '/power/summary/' + date;
    }
  </script>
</head>

<body>
<h3>Daily Summary</h3>
<div style="float:left;">
  <select title="aaa" name="choose-date" onchange="dateSelected(this.value)">
  {% for date in sorted_dates %}
    <option value="{{date}}"
       {% if date == request_date %}selected="selected"{% endif %}>
       {{date|capfirst}}
    </option>
  {% endfor %}
  </select>
  <h4>Device ID: {{ device_id_1 }}</h4>
  <h4>Avg: {{ data_stats.device_1_avg }}</h4>
  <h4>Max: {{ data_stats.device_1_max }}</h4>
  <h4>Min: {{ data_stats.device_1_min }}</h4>
  <br/>
  <h4>Device ID: {{ device_id_2 }}</h4>
  <h4>Avg: {{ data_stats.device_2_avg }}</h4>
  <h4>Max: {{ data_stats.device_2_max }}</h4>
  <h4>Min: {{ data_stats.device_2_min }}</h4>
</div>

<div id="container" style="min-width: 310px; height: 350px; margin: 0 auto; max-width: 700px;">original view for the container</div>

</body>
</html>

<script>
  var data_categories = {{ data_categories }};
  var data_series = {{ data_series|safe }};
</script>
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/summary.js" %}"></script>